@charset "utf-8";
/*
    main styles
    version: 15.01.2013
    
    Style to null

    fonts

    site

    header

    logo

    footer

*/

/* --------------- Style to null --------------- */
input[type="text"], input[type="password"], textarea, input[type="email"], input[type="phone"], input[type="number"] {
    font: 12px Arial, Helvetica, sans-serif;
}
body {
    color: #000;
    background: #fff;
}
input, select, button, textarea {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
a, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /Style to null --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "sourcesanspro-extralight";
    src: url("../fonts/sourcesanspro-extralight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "sourcesanspro-bold";
    src: url("../fonts/sourcesanspro-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "sourcesanspro-lightitalic";
    src: url("../fonts/sourcesanspro-lightitalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "sourcesanspro-regular";
    src: url("../fonts/sourcesanspro-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */

/* --------------- logo --------------- */
.logo{

    background: url("../img/desktop/logo.png") no-repeat;
    width: 473px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -114px 0 0 -236px;
    height: 228px;
    text-indent: -5000px;

    
}
/* --------------- /logo --------------- */

/* --------------- down-btn --------------- */
.down-btn{
    font-family: "sourcesanspro-extralight";
    font-size: 21px;
    position: absolute;
    bottom: 75px;
    left: 50%;
    margin-left: -36px;
    color: #929497;
    display: none;
    z-index: 10;
}
.down-btn:before{
    background: url("../img/desktop/arrow-down.png") no-repeat;
    width: 49px;
    height: 37px;
    content: "";
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -25px;

    -webkit-animation: jump 3s infinite linear;
    -moz-animation: jump 3s infinite linear;
    -ms-animation: jump 3s infinite linear;
    -o-animation: jump 3s infinite linear;
    animation: jump 3s infinite linear;
}

.down-btn.down-btn_white{
    text-indent: -5000px;
    width: 48px;
    height: 37px;
    margin-left: -24px;
}
.down-btn.down-btn_white:before{
    background: url("../img/desktop/arrow-down2.png") no-repeat;

}
/* --------------- site --------------- */
.site {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.site__center {
    height: 100%;
    width: 100%;
    display: table;
    min-height: 600px;
}
.site__center > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.site__page {
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.site__page.active {
    top: 115px;
    overflow: auto;
    overflow-x: hidden;
}
.site__menu + .site__page.active {
    top: 0;
}
.site__content {
    position: relative;
}
/* --------------- /site --------------- */


/* --------------- site__menu --------------- */
.site__menu{
    position: fixed;
    top:-115px;
    left: 0;
    height: 115px;
    background: #fff;
    z-index: 5;
    width: 100%;

}
.site__menu__logo{
    position: absolute;
    top: 14px;
    left: 2%;
}
.main-menu{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -270px;
}
.main-menu a{
    display: inline-block;
    vertical-align: top;
    padding: 0 30px;
    color: #353c4c;
    font-size: 16px;
    height: 115px;
    font-family: "sourcesanspro-bold";
    text-transform: uppercase;
    line-height: 115px;
    letter-spacing: 1px;
}
.main-menu a.active{
    color: #ee4d2c;
    cursor: default;
}
.main-menu a.active:hover span:after{
    display: none;
}
.main-menu a span{
    line-height: 115px;
    position: relative;
}

.main-menu a span:after {
    content: '';
    position: absolute;
    height: 3px;
    background: #353c4c;
    bottom: -8px;
    left: 0;
    width: 0;
    -webkit-transition: width 300ms ease-in-out 100ms;
    transition: width 300ms ease-in-out 100ms;
}
.main-menu a:hover span:after {
    width: 100%;
}
.user-guide-btn{
    position: absolute;
    top: 0;
    right: 0;
    height: 115px;
    width: 250px;
    background: #353c4c url("../img/desktop/guide-btn.png") no-repeat bottom right;
    color: #fff;
    font-family: "sourcesanspro-bold";
    text-align: center;
    line-height: 115px;
    letter-spacing: 2px;
    font-size: 24px;
}
.show-mobile-menu{
    position: fixed;
    z-index: 55;
    background: url("../img/mobile/show-menu.png") no-repeat;
    width: 21px;
    height: 18px;
    top: 19px;
    left: 22px;
    text-indent: -5000px;
    cursor: pointer;
    display: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.show-mobile-menu.active{

    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);

}

/* --------------- /site__menu --------------- */

.videoBlock{
    position: fixed;
    top: 115px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    display: none;
}
.videoBlock__close{
    position: absolute;
    top: 27px;
    right: 27px;
    background: url("../img/desktop/close.png");
    width: 26px;
    height: 25px;
    text-indent: -5000px;
    z-index: 10;
    cursor: pointer;
}

/* --------------- site__page-crhromaWallet01 --------------- */
.colored-text{
    color: #fff;
    width: 50%;
    position: absolute;
    top: 0;
    font-size: 18px;
    left: 0;
    font-family: "sourcesanspro-regular";
    padding: 59px 20px 20px 2%;
    background: #18a2a2;
    z-index: 2;
}
.colored-text__show{
   opacity: 0;
}
.colored-video{
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.colored-video img{
    display: block;
}
.colored-text h2{
    font-weight: normal;
    font-size: 46px;
    font-family: "sourcesanspro-bold";
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 58px;
}
.colored-download{
    color: #fff;
    text-transform: uppercase;
    background: #ef4e23;
    width: 222px;
    height: 63px;
    line-height: 63px;
    text-align: center;
    display: block;
    font-family: "sourcesanspro-bold";
    font-size: 21px;
    letter-spacing: 3px;
    margin: 0 0 33px 30px;
}
.colored-text span{
    font-family: "sourcesanspro-lightitalic";
    font-size: 15px;
    padding-left: 30px;
    display: block;

}
.colored-text dl{
    margin-bottom: 29px;
}
.colored-text dt{
    margin-bottom: 29px;
    line-height: 23px;
}

.colored-text dd{
    background: url("../img/desktop/colored-point.png") no-repeat 0 4px;
    padding-left: 29px;
    line-height: 22px;
    margin: 0 0 11px 30px;
}


/* --------------- /site__page-crhromaWallet01 --------------- */

/* --------------- /site__page-crhromaWallet02 --------------- */

/*.site__page-crhromaWallet02{*/
    /*display: block;*/
/*}*/

.instruction-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;

    z-index: 10;
    background: #2d333d url("../img/desktop/instruction-back.png") no-repeat center;
}
.instruction-back__video{
    display: block;
    margin: 0 auto;
    width: 375px;

}
.instruction-back__video:first-child{
    margin-bottom: 36px;

}
.instruction-back__tabel{
    display: table;
    width: 100%;
}
.instruction-back__tabel-cell{
    display: table-cell;
    text-align: center;
    width: 100%;

    vertical-align: middle;
}

.about-text{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    background: #18a2a2;
    font-family: "sourcesanspro-regular";
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    z-index: 10;
    padding: 76px 86px 0 86px;
}
.about-text a{
    text-decoration: none;

    color: #eec84c;
}
.about-text a:hover{
    text-decoration: underline;
}
.about-text dl{
    margin-bottom: 26px;
}
.about-text dt{
    margin-bottom: 30px;
}
.about-text dd {
    background: url("../img/desktop/colored-point.png") no-repeat 0 6px;
    padding-left: 27px;
    margin-left: 28px;
    margin-bottom: 6px;
}

.about-text h2{
    font-size: 46px;
    font-weight: normal;
    font-family: "sourcesanspro-bold";
    text-transform: uppercase;
    margin-bottom: 35px;
}
.podlozhka{
    background: #3b97d2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/* --------------- /site__page-crhromaWallet02 --------------- */

/* --------------- site__page-crhromaWallet03 --------------- */
.download-page{
    position: absolute;
    top: 0;
    left: 0;
    background: #3b97d2;
    height: 659px;
    width: 100%;
    overflow: hidden;
    color: #fff;
}
.download-page__text{
    position: absolute;
    z-index: 10;
    height: 319px;
    left: 0;
    width: 100%;
    margin-top: -220px;
    top: 50%;
}
.download-page p{
    text-align: center;
    font-family: "sourcesanspro-regular";
    margin-bottom: 42px;
}
.site__page.site__page-crhromaWallet03{
    top: 115px;
}
.squeres{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1176px;
    margin: -259px 0 0 -588px;
    z-index: 10;
    background: #3b97d2;
    perspective: 1000px;
}
.squeres > div{
    transform-style: preserve-3d;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    transition: all 0s ease;

}
.squeres > div > div{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -o-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);


    width: 308px;
    height: 308px;

}
.squers__item5 > div,
.squers__item1 > div{
    background: #328bcb;
}
.squers__item3 > div{
    background: #368fcd;
}
.squers__item2 > div,
.squers__item4 > div{
    background: #3287c2;
}
.squers__item1{
    width: 308px;
    height: 308px;
    position: absolute;
    top: 0;
    left: 0;

}
.squers__item2{
    width: 308px;
    height: 308px;
    position: absolute;
    top: 217px;
    left: 217px;

    opacity: 0.8;
}
.squers__item3{
    width: 308px;
    height: 308px;
    position: absolute;
    top: 0;
    left: 434px;

}
.squers__item4{
    width: 308px;
    height: 308px;
    position: absolute;
    top: 217px;
    left: 651px;

}
.squers__item5{
    width: 308px;
    height: 308px;
    position: absolute;
    top: 0;
    right: 0;

}
.download-page h2{
    text-align: center;
    font-size: 46px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 35px;
    font-family: "sourcesanspro-bold";

}
.download-page__text ul{
    text-align: center;
    position: relative;

}
.download-page__text li{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 20px 40px;
}
.download-page__text li a{
    position: relative;
    display: block;
    width: 132px;
    height: 132px;

}
.download-page__text li > span{
    position: relative;
    display: block;
    width: 132px;
    height: 132px;
}

.download-page__text li .disabled > span,
.download-page__text li a > span{
    display: table;
    height: 132px;
    width: 132px;

}
.download-page__text li .disabled > span > span,
.download-page__text li a > span > span{
    display: table-cell;
    width: 132px;
    height: 132px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-family: "sourcesanspro-bold";
    text-transform: uppercase;
    white-space: pre-line;
    font-size: 18px;
}
.download-page__text li .disabled > span > span > span{
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -41px;
    font-size: 12px;
    font-family: "sourcesanspro-regular";
    width: 83px;
}

.download-page__text li .disabled .back-squere{
    background: #929497;
}
.back-squere{
    position: absolute;
    top: 8px;
    left: 0;
    width: 132px;
    height: 132px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -o-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #005382;
    z-index: -1;
}
.download-page__text li a:hover .back-squere{
    background: #f16522;
}
.download-page__text li a:hover:after{
    background: #353c4c;
    width: 34px;
    height: 17px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -o-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    bottom: -17px;
    left: 41px;
    content: "";
}
.download-page__text li a:hover:before{
    background: #353c4c;
    width: 34px;
    height: 17px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -o-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    bottom: -18px;
    left: 55px;
    content: "";
}
/* --------------- /site__page-crhromaWallet03 --------------- */

/* --------------- site__page-crhromaWallet04 --------------- */
.site__page-crhromaWallet04{
    top: 115px;
    background: #353c4c;
    overflow: hidden;
    z-index: 1;
}
.resources{
    color: #fff;
    text-align: center;
    width: 720px;
    font-size: 18px;
    font-family: "sourcesanspro-regular";
    line-height: 22px;
    position: absolute;
    top: 50%;
    margin: -115px 0 0 -360px;
    left: 50%;
}

.resources h2{
    font-weight: normal;
    font-family: "sourcesanspro-bold";
    font-size: 46px;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.resources p{
    margin-bottom: 45px;
}
.resources a{
    color: #eec84c;

}
.resources a:hover{
    text-decoration: underline;
}
.resources__giude{
    background: #ff5b3b;
    color: #fff;
    display: block;
    margin: 0 auto;
    width: 238px;
    height: 63px;
    line-height: 63px;
    text-align: center;
    color: #fff !important;
    text-transform: uppercase;
    font-family: "sourcesanspro-bold";
    letter-spacing: 3px;
}
.resources__giude:hover{
    text-decoration: none !important;
}
.active-shtorka .shtorka-left{
    -moz-transform: rotate(77deg);
    -webkit-transform: rotate(77deg);
    transform: rotate(77deg);
}
.active-shtorka .shtorka-right{
    -moz-transform: rotate(-77deg);
    -webkit-transform: rotate(-77deg);
    transform: rotate(-77deg);
}
.shtorka-left{
    background: #3b97d2;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 200%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -o-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
}
.shtorka-right{
    background: #3b97d2;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 200%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform-origin: top left;
    -moz-transform-origin:  top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;

}
/* --------------- /site__page-crhromaWallet04 --------------- */


/* --------------- site__page-crhromaWallet05 --------------- */

.contacts{
    background: #d05f6b;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 500px;
    color: #fff;
    line-height: 22px;
    font-family: "sourcesanspro-regular";
    font-size: 18px;
    overflow: hidden;
}

.contacts > div{
    height: 233px;
    width: 918px;
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 50%;
    margin: -116px 0 0 -464px;
}
.up-btn{
    background: url("../img/desktop/arrow-down2.png");
    width: 48px;
    height: 37px;
    margin-left: -24px;
    position: absolute;
    bottom: 75px;
    left: 50%;
    text-indent: -5000px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.contacts h2{
    text-align: center;
    font-size: 46px;
    font-weight: normal;
    font-family: "sourcesanspro-bold";
    margin-bottom: 30px;
    text-transform: uppercase;
}
.contacts p{
    margin-bottom: 30px;
}
.contacts a{
    display: block;
    margin: 0 auto;
    width: 238px;
    height: 63px;
    text-align: center;
    line-height: 63px;
    font-size: 21px;
    color: #fff;
    font-family: "sourcesanspro-bold";
    text-transform: uppercase;
    letter-spacing: 3px;
    background: #18a2a2;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.contacts a:hover{
    background: #2cc6c2;
}

.contacts > div > div{
    text-align: justify;
    width: 918px;
    margin: 0 auto;
}
.contacts > div > div:after{
    content: "";
    display: inline-block;
    vertical-align: top;
    height: 0;
    width: 100%;
}
.contacts > div > div > div{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    text-align: center;
}
.contacts__back{
    position: absolute;
    top: 0;
    bottom: 0;
    left: -500px;
    right: -500px;
    background: url("../img/desktop/contacts-bac.jpg");
}

/* --------------- /site__page-crhromaWallet05 --------------- */

/* --------------- site__menu_v2 --------------- */
.site_chromewallet-v2{
    overflow-y: scroll;
}
.site__menu_v2{
    top: 0 !important;
}
.user-guide{
    padding-top: 167px;
}
.user-guide h1{
    white-space: pre-line;
    font-weight: normal;
    font-family: "sourcesanspro-bold";
    font-size: 46px;
    color: #2d333d;
    letter-spacing: 3px;
    text-align: center;
    background: url("../img/desktop/user-guid-icon.jpg") no-repeat top center;
    padding-top: 157px;
    line-height: 53px;
    margin-bottom: 45px;
}
.user-guide__menu{
    text-align: center;
    margin-bottom: 71px;
}

.user-guide__menu li{
    margin-bottom: 17px;
}
.user-guide__menu h2{
    color: #18a2a2;
    text-transform: uppercase;
    font-size: 29px;
    font-weight: normal;
    font-family: "sourcesanspro-bold";
    letter-spacing: 3px;
}
.user-guide__menu a{
    color: #18a2a2;
    font-size: 18px;
    border-bottom: 1px dashed #18a2a2;
    font-family: "sourcesanspro-regular";

}
.user-guide__menu a:hover{
    border-bottom: none;
}
.installetion__table{
    display: table;
}
.installetion__table__cell{
    width: 50%;
    vertical-align: top;
    background: #18a2a2;
    display: table-cell;
    color: #fff;
    font-family: "sourcesanspro-regular";
    font-size: 18px;
    line-height: 22px;
}
.installetion__table__cell a{
    color: #eec84c;
}
.installetion__table__cell a:hover{
    text-decoration: underline;
}

.installetion__table__cell:first-child{
    vertical-align: middle;
    text-align: center;
}
.installetion__text p{
    margin-bottom: 13px;
}
.installetion__text ul{
    margin: 0 0 0 38px;
}
.installetion__text li{
    margin-bottom: 14px;
}
.installetion__text h3{
    font-size: 24px;
    font-weight: normal;
    font-family: "sourcesanspro-bold";
    letter-spacing: 1px;
    margin-bottom: 26px;
}
.installetion__text ol li{
    padding-left: 20px;
    position: relative;
}

.installetion__text li> span{
    position: absolute;
    top: 0;
    left: 0;
}
.black-rombs{
    background: url("../img/desktop/balck-romb.jpg");

}
.installetion__text{
    padding: 84px 88px;
}
.installetion__text h2{
    font-weight: normal;
    font-size: 32px;
    font-family: "sourcesanspro-bold";
    margin-bottom: 29px;
    letter-spacing: 3px;

}

/* --------------- /site__menu_v2 --------------- */

/* --------------- managment --------------- */
.managment{
    background: #3b97d2;
    overflow: hidden;
    position: relative;
}
.managment:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
}

.managment__video{
    width: 50%;
    float: left;
    display: block;
}
.managment__text{
    width: 50%;
    float: left;
}
/* --------------- /managment --------------- */

@-webkit-keyframes jump {
    0%   {bottom: -50px;}
    25%  {bottom: -35px;}
    50%  {bottom: -50px;}
    75%  {bottom: -40px;}
    100% {bottom: -50px;}
}
@-moz-keyframes jump {
    0%   {bottom: -50px;}
    25%  {bottom: -35px;}
    50%  {bottom: -50px;}
    75%  {bottom: -40px;}
    100% {bottom: -50px;}
}
@-ms-keyframes jump {
    0%   {bottom: -50px;}
    25%  {bottom: -35px;}
    50%  {bottom: -50px;}
    75%  {bottom: -40px;}
    100% {bottom: -50px;}
}
@-o-keyframes jump {
    0%   {bottom: -50px;}
    25%  {bottom: -35px;}
    50%  {bottom: -50px;}
    75%  {bottom: -40px;}
    100% {bottom: -50px;}
}
@keyframes jump {
    0%   {bottom: -50px;}
    25%  {bottom: -35px;}
    50%  {bottom: -50px;}
    75%  {bottom: -40px;}
    100% {bottom: -50px;}
}

@media (max-width: 1000px) {

    .site__page{
        position: relative;
    }
    .site__content{
        height: auto !important;
    }
    .colored-text__show{
        opacity: 1;
    }
    .down-btn.down-btn_white{
        display: none !important;
    }
    .download-page{
        height: auto !important;
    }
    .videoBlock{
        top: 0;
    }
    .shtorka-right{
        -moz-transform: rotate(-77deg);
        -webkit-transform: rotate(-77deg);
        transform: rotate(-77deg);
    }
    .shtorka-left{
        -moz-transform: rotate(77deg);
        -webkit-transform: rotate(77deg);
        transform: rotate(77deg);
    }
    .contacts{
        background: url("../img/mobile/contacts-back.jpg");
        position: relative;
        padding-top: 70px;
        padding-bottom: 166px;
    }
    .up-btn{
        background: url("../img/mobile/up-btn.png");
        width: 25px;
        height: 18px;
        margin-left: -12px;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        bottom: 83px;
    }
    .contacts > div{
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0;
        display: block;
        height: auto;
    }
    .squeres{
        display: block;
    }
    .contacts h2{
        font-size: 24px;
    }
    .contacts > div > div{
        width: 100%;
    }
    .contacts > div > div > div{
        display: block;
        width: 100%;
        padding: 0 20px;
        margin-bottom: 20px;
    }
    .contacts > div > div:after{
        display: none;
    }
    .contacts p{
        font-size: 13px;
    }
    .contacts a{
        width: 197px;
        height: 35px;
        line-height: 35px;
    }
    .site__page-crhromaWallet05{
        display: block;
        top: 0;
        position: relative;
    }
    .site__page-crhromaWallet04{
        display: block;
        position: relative;
        top: 0 !important;

    }
    .resources{
        position: relative;
        top: 0;
        margin: 0;
        left: 0;
        padding: 50px 20px 40px 20px;
        width: 100%;
        height: auto;
        background: #2d333d;
    }
    .resources h2{
        font-size: 24px;
    }
    .resources p{
        font-size: 13px;
    }
    .resources__giude{
        width: 197px;
        line-height: 35px;
        letter-spacing: 1px;
        height: 35px;
        font-size: 14px;
    }
    .site__page-crhromaWallet03{
        display: block;
        position: relative;
        top: 0 !important;

    }
    .download-page{
        position: relative;
        overflow: hidden;
    }
    .download-page__text{
        position: relative;
        top: 0;
        margin-top: 0;
        padding: 100px 0;
        height: auto;
        overflow: hidden;
        display: block;
    }
    .site__page-crhromaWallet02 .down-btn:before{
        display: none;
    }
    html{
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .site__page-crhromaWallet02{
        display: block;
        position: relative;
    }
    .instruction-back{
        position: relative;
        top: auto;
        width: 100%;
        padding: 25px 0 9px 0;
        display: block;
    }
    .instruction-back__video{
        margin-bottom: 16px;
    }
    .instruction-back__video img{
        width: 175px !important;
        height: 120px !important;
    }

    .about-text{
        position: relative;
        top: auto;
        width: 100%;
        padding-bottom: 20px;
    }
    .about-text__wrap{
        display: block;
    }
    .colored-video{
        position: relative;
        top: auto;
        width: 100%;
    }

    .colored-video img{
        height: auto !important;
    }

    .colored-text{
        position: relative;
        top: auto;
        width: 100%;
    }
    .show-mobile-menu{
        display: block;
    }
    .site__menu__logo{

        display: none;

    }
    .site__menu{
        bottom: 0;
        display: block !important;
        height: auto;
        width: 0;
        overflow: hidden;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .site__menu.show{
        width: 100%;
        z-index: 50;
    }
    .main-menu{
        left: 0;
        right: 0;
        top: 87px;
        height: auto;
        margin-left: 0;
    }
    .main-menu a{
        text-align: center;
        display: block;
        font-size: 24px;
        height: 62px;
        letter-spacing: 2;
    }
    .user-guide-btn{
        top: 415px;
        left: 50%;
        width: 208px;
        height: 63px;
        margin-left: -104px;
        line-height: 63px;
        font-size: 24px;
        background: #353c4c url("../img/mobile/guid-btn.png") no-repeat bottom right;
    }
    .colored-text__show{
        display: block;
    }

    header.site__page{
        position: relative;
        height: 568px;


    }
    .site__center{
        min-height: 568px;
    }
    .site__page-crhromaWallet01{
        display: block;
        position: relative;

    }
    .site__page-crhromaWallet01 .down-btn:before{
        display: none;
    }
    .site__center{
        height: auto !important;
    }
    .site__page-crhromaWallet04 .down-btn:before,
    .site__page-crhromaWallet03 .down-btn:before{
        display: none;
    }
}

@media (max-width: 920px) {
    .download-page h2{
        font-size: 24px;
        margin-bottom: 25px;
    }

    .download-page p{
        font-size: 13px;
    }
    .download-page__text li{
        display: block;
        opacity: 1;
    }
    .download-page__text li span,
    .download-page__text li a{
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .download-page__text li .disabled > span > span > span{
        bottom: -82px;
    }
}
@media (max-width: 600px) {
    .about-text h2{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .about-text{
        font-size: 12px;
        padding: 30px;
        line-height: 14px;
    }
    .logo{
        background: url("../img/mobile/logo.png");
        width: 233px;
        height: 112px;
        margin: -56px 0 0 -117px;
    }
    .down-btn{
        font-size: 11px;
        margin-left: -16px;
    }
    .colored-text{
        font-size: 12px;
        padding: 18px 30px 20px 30px;
    }
    .colored-text h2{
        font-size: 24px;
    }
    .colored-text dl{
        margin-bottom: 23px;
    }
    .colored-text dt{
        line-height: 13px;
        margin-bottom: 5px;
    }
    .colored-text dd{
        margin-bottom: -2px;
    }

    .down-btn:before{
        background: url("../img/mobile/arrow-down.png") no-repeat;
        width: 25px;
        height: 19px;
        content: "";
        margin-left: -12px;
        bottom: -25px;
    }
    .about-text dd,
    .colored-text dd{
        background: url("../img/mobile/colored-point.png") no-repeat 0 7px;
        padding-left: 15px;
    }
    .colored-download{
        width: 197px;
        height: 35px;
        line-height: 35px;
        font-size: 14px;
        letter-spacing: 1px;
        margin: 0 auto;
        margin-bottom: 18px;
    }
    .colored-text span{
        font-size: 8px;
    }
}

