/* css for ltie8 */
/* --------------- fonts --------------- */
@font-face {
    font-family: "Font Name";
    src: url("../fonts/font.eot");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */